<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/main.css} "/>
    <title>Customers Spring Security</title>
</head>
<body>
<div class="d-flex align-items-center pt-lg-5 pt-5">
    <div class="container w-75">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Customers</h4>
                <hr>
                <table class="table table-sm table-hover table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row-middle" th:each="customer : ${customers}">
                        <th scope="row" th:text="${customer.getId()}">1</th>
                        <td th:text="${customer.getFirstName()}">Dark</td>
                        <td th:text="${customer.getLastName()}">Mode</td>
                        <td th:text="${customer.getEmail()}">dark@mode.com</td>
                        <td>
                            <div aria-label="action buttons" class="btn-group btn-group-sm" role="group">
                                <button class="btn btn-warning" type="button"><i class="fas fa-user-edit"></i></button>
                                <button class="btn btn-danger" type="button"><i class="fas fa-user-times"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                    <a th:href="@{/home}">Back To Home</a>
                    <nav aria-label="pagination" th:if="${customers.totalPages gt 0}">
                        <ul class="pagination justify-content-end pagination-sm mb-0">
                            <li class="page-item"
                                th:classappend="${customers.number eq 0} ? 'disabled'">
                                <a aria-label="Previous"
                                   class="page-link svg-icon"
                                   rel="tooltip"
                                   th:href="@{/customer/list(page=${customers.number})}"
                                   title="Previous Page">
                                    <i class="fas fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li class="page-item" th:classappend="${i eq customers.number + 1} ? 'active'"
                                th:each="i : ${#numbers.sequence(1, customers.totalPages)}">
                                <a class="page-link" rel="tooltip"
                                   th:href="@{/customer/list(page=${i})}"
                                   th:text="${i}"
                                   th:title="${'Page '+ i}">
                                    link
                                </a>
                            </li>
                            <li class="page-item"
                                th:classappend="${customers.number + 1 eq customers.totalPages} ? 'disabled'">
                                <a aria-label="Next"
                                   class="page-link svg-icon"
                                   rel="tooltip"
                                   th:href="@{/customer/list(page=${customers.number + 2})}" title="Next Page">
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </article>
        </div>
    </div>
</div>
</body>
</html>