<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:action="@{/customer/update}" th:method="PATCH" th:object="${customer}">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-form-label" for="first-name">First name</label>
            <input class="form-control" id="first-name" required th:field="*{firstName}" type="text">
        </div>
        <div class="form-group">
            <label class="col-form-label" for="last-name">Last name</label>
            <input class="form-control" id="last-name" required th:field="*{lastName}" type="text">
        </div>
        <div class="form-group">
            <label class="col-form-label" for="email">Email</label>
            <input class="form-control" id="email" required th:field="*{email}" type="email">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" type="button">Cancel</button>
        <button class="btn btn-success" type="submit">Save</button>
    </div>
</form>
