<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <title>Home Spring Security</title>
</head>
<body>
<div class="d-flex align-items-center min-vh-100">
    <div class="container w-25">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Welcome</h4>
                <div sec:authorize="isAuthenticated()">
                    <p><span class="font-weight-bold">Logged user :</span> <span sec:authentication="name"></span></p>
                    <p><span class="font-weight-bold">Roles :</span> <span sec:authentication="authorities"></span></p>
                </div>
                <form method="post" th:action="@{/logout}">
                    <div class="form-group">
                        <button class="btn btn-danger btn-block" type="submit">Logout</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>
</body>
</html>