<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/main.css} "/>
    <title>Home Spring Security</title>
</head>
<body>
<div class="d-flex align-items-center min-vh-100">
    <div class="container w-25">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Welcome</h4>
                <hr>
                <div sec:authorize="isAuthenticated()">
                    <p><span class="font-weight-bold">Logged user :</span> <span sec:authentication="name"></span></p>
                    <p><span class="font-weight-bold">Roles :</span> <span sec:authentication="authorities"></span></p>
                    <p><span class="font-weight-bold">Menu :</span></p>
                    <ul>
                        <li><a th:href="@{/customer/list}">Customers</a></li>
                    </ul>
                    <p sec:authorize="hasAnyRole('MANAGER', 'ADMIN')"><span class="font-weight-bold">Portals :</span>
                    </p>
                    <ul>
                        <li sec:authorize="hasRole('MANAGER')"><a th:href="@{/manager}">Manager Portal</a></li>
                        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}">Admin Portal</a></li>
                    </ul>
                </div>
                <form method="post" th:action="@{/logout}">
                    <div class="form-group">
                        <button class="btn btn-danger btn-block" type="submit">Logout</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>
</body>
</html>